/Project/.vs/Project/v17
/Project/.vs/Project
/Project/MFCApplication1/MFCApplication1.vcxproj.user
/Project/Project/Project.vcxproj.user
/Project/Project/x64/Debug
/Project/MFCApplication1/x64/Debug
/Project/x64/Debug
